@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  color: #f5f5f5;
  background-color: #30475e;
}

.np-effect {
  background: #30475e;
  box-shadow: 9px 9px 18px #293c50, -9px -9px 18px #37526c;
}

.np-btn {
  box-shadow: 6px 6px 12px #293c50, -6px -6px 12px #37526c;
}
